{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="htmx-config" content='{"selfRequestsOnly":false}'>

    <title>Admin UI</title>

    <script
        type="text/javascript"
        src="{% static '/adminui/js/htmx.min.js' %}">
    </script>

    <link rel="stylesheet" href="media/mystyle.css">
</head>

<body
    class="bg-custom-powder-light"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
>

<form method="post" id="main-form">

    {% csrf_token %}

    {% for form in list_of_forms %}

        <fieldset class="category-form">

            <label>
                <input
                    type="checkbox"
                    class="category-checkbox"
                    value="{{ form.category.value }}"
                    name="checky"
                    id="generic_checkbox_{{ form.category.value }}"
                >

                <strong>{{ form.category.value }}</strong>
            </label>

            <div class="form-fields">

                {% for field in form %}

                    {% if field.name != "category" %}

                        <p>

                            {% if field.help_text %}
                                <small>{{ field.help_text }}</small>
                            {% endif %}

                            {{ field }}

                            {% for error in field.errors %}
                                <span class="error">
                                    {{ error }}
                                </span>
                            {% endfor %}

                        </p>

                    {% endif %}

                {% endfor %}

            </div>

        </fieldset>

    {% endfor %}


    <input
        type="hidden"
        name="category"
        id="selected_category"
        value=""
    >


    {% if fterms_list %}

        <table id="EGAtable center" style="margin-left: 150px;">

            <tbody style="border: 2px solid #7B1B58;">

                <tr class="center">
                    <th scope="col">ID</th>
                    <th scope="col">Label</th>
                    <th scope="col">Scopes</th>
                    <th scope="col"></th>
                </tr>

                {% for fterm in fterms_list %}

                    {% if fterm.type == 'ontology' %}

                        <tr class="center">

                            <td>
                                {{ fterm.id }}
                            </td>

                            <td>
                                {{ fterm.label }}
                            </td>

                            <td>
                                {{ fterm.scopes }}
                            </td>

                            <td>
                                <button
                                    type="submit"
                                    name="FilteringTermLabel"
                                    value="id_{{ fterm.id }}_label_{{ fterm.label }}_scopes_{{ fterm.scopes }}"
                                    class="btn btn-danger mb-3 add-label-button"
                                >
                                    +
                                </button>
                            </td>

                        </tr>

                    {% endif %}

                {% endfor %}

            </tbody>

        </table>

    {% endif %}

</form>


<script>

document.addEventListener("DOMContentLoaded", function () {

    const form = document.getElementById("main-form");

    const categoryCheckboxes =
        document.querySelectorAll(".category-checkbox");

    const categoryForms =
        document.querySelectorAll(".category-form");

    const selectedCategory =
        document.getElementById("selected_category");


    /*
     * Disable all fields initially.
     */
    categoryForms.forEach(function (categoryForm) {

        const fields =
            categoryForm.querySelectorAll(
                ".form-fields input, " +
                ".form-fields select, " +
                ".form-fields textarea"
            );

        fields.forEach(function (field) {
            field.disabled = true;
        });

    });


    /*
     * Category checkbox.
     *
     * Selecting a category enables all the fields
     * belonging to that category.
     */
    categoryCheckboxes.forEach(function (categoryCheckbox) {

        categoryCheckbox.addEventListener(
            "change",
            function () {

                const categoryForm =
                    this.closest(".category-form");


                if (this.checked) {

                    selectedCategory.value =
                        this.value;


                    categoryCheckboxes.forEach(
                        function (otherCheckbox) {

                            const otherForm =
                                otherCheckbox.closest(
                                    ".category-form"
                                );

                            const otherFields =
                                otherForm.querySelectorAll(
                                    ".form-fields input, " +
                                    ".form-fields select, " +
                                    ".form-fields textarea"
                                );


                            if (
                                otherCheckbox ===
                                categoryCheckbox
                            ) {

                                otherFields.forEach(
                                    function (field) {
                                        field.disabled = false;
                                    }
                                );

                            } else {

                                otherCheckbox.checked =
                                    false;

                                otherFields.forEach(
                                    function (field) {
                                        field.disabled = true;
                                    }
                                );

                            }

                        }
                    );

                } else {

                    selectedCategory.value = "";

                    const fields =
                        categoryForm.querySelectorAll(
                            ".form-fields input, " +
                            ".form-fields select, " +
                            ".form-fields textarea"
                        );

                    fields.forEach(function (field) {
                        field.disabled = true;
                    });

                }

            }
        );

    });


    /*
     * FIELD CHECKBOXES
     *
     * Every {{ field }} that is a checkbox gets its
     * own change handler.
     *
     * When checked OR unchecked, submit:
     *
     * FilteringTermLabel = label_<field value>
     */
    categoryForms.forEach(function (categoryForm) {

        const categoryCheckbox =
            categoryForm.querySelector(
                ".category-checkbox"
            );


        const fields =
            categoryForm.querySelectorAll(
                ".form-fields input[type='checkbox']"
            );


        fields.forEach(function (field) {

            field.addEventListener(
                "change",
                function () {

                    /*
                     * Make sure this field belongs to
                     * the selected category.
                     */
                    if (
                        !categoryCheckbox ||
                        !categoryCheckbox.checked
                    ) {
                        return;
                    }


                    selectedCategory.value =
                        categoryCheckbox.value;


                    /*
                     * Remove an old automatic value.
                     */
                    const oldInput =
                        form.querySelector(
                            ".automatic-filtering-term"
                        );

                    if (oldInput) {
                        oldInput.remove();
                    }


                    /*
                     * Send ONLY:
                     *
                     * label_<field value>
                     */
                    const filteringTermInput =
                        document.createElement("input");

                    filteringTermInput.type = "hidden";

                    filteringTermInput.name =
                        "FilteringTermLabel";

                    filteringTermInput.value =
                        "label_" + field.value;

                    filteringTermInput.className =
                        "automatic-filtering-term";


                    form.appendChild(
                        filteringTermInput
                    );


                    /*
                     * Submit immediately.
                     */
                    form.submit();

                }
            );

        });

    });

});

</script>

</body>
</html>
