{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="htmx-config" content='{"selfRequestsOnly":false}'>
  <title>Admin UI</title>
  <script type="text/javascript" src="{% static '/adminui/js/htmx.min.js' %}"></script>
  <link rel="stylesheet" href="media/mystyle.css">
</head>

<body>
  <body class="bg-custom-powder-light" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

{% for title, form in db_forms.items %}
      <form method="post" onsubmit="openLoader()">
        {{title}}
        {% csrf_token %}
        
          <div>
            {% for key, value in form.items %}
            <div>{{key}}</div>
            {% if key == 'Port' %}
                <div>               
                    <input type="number" id="id_{{key}}" name="{{key}}" value="{{value}}">
                </div>
            {% elif key == 'Cluster' %}
                <div>
                  {% if value == 'True' %}
                    <input type="checkbox" id="id_{{key}}" name="{{key}}" value="{{key}}" checked>
                  {% else %}
                    <input type="checkbox" id="id_{{key}}" name="{{key}}" value="{{key}}">
                  {% endif %}
                </div>
            {% elif key != 'Password' %}
                <div>               
                    <input type="text" id="id_{{key}}" name="{{key}}" value="{{value}}">
                </div>
            {% else %}
                <div>               
                    <input type="password" id="id_{{key}}" name="{{key}}" value="{{value}}">
                </div>
            {% endif %}
            {% endfor %}
          </div>
          <div>
            <button type="submit" class="btn btn-danger mb-3" name="Save" value="{{title}}">Save</button>
          </div>
            <button
                type="submit"
                class="btn btn-danger mb-3"
                name="Test Connection"
                value="Test Connection {{title}}"
                hx-target="#ping_{{title}}"
                hx-swap="innerHTML"
            >
                Test Connection
            </button>

            <div id="ping_{{title}}"
                {% if title != ping_title %}style="display: none;"{% endif %}>
                {% if title == ping_title %}
                    {{ ping }}
                {% endif %}
            </div>


      </form>
{% endfor %}
{% for title, form in non_db_forms.items %}
      <form method="post" onsubmit="openLoader()">
        {{title}}
        
        {% csrf_token %}
    <div>
            {% for f in form %}
            <p>{{f.help_text|safe}} {{f}} </p>
            {% endfor %}
            <span id="active-label"></span>



    </div>
          <div>
            <button type="submit" class="btn btn-danger mb-3" name="{{title}}">Save</button>
          </div>
              <button
                  type="submit"
                  class="btn btn-danger mb-3"
                  name="Test Connection"
                  value="Test Connection {{title}}"
                  hx-target="#ping_{{title}}"
                  hx-swap="innerHTML"
              >
                  Test Connection
              </button>
              <div id="ping_{{title}}"
                  {% if title != ping_title %}style="display: none;"{% endif %}>
                  {% if title == ping_title %}
                      {{ ping }}
                  {% endif %}
              </div>



      </form>
{% endfor %}
</body>