{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="htmx-config" content='{"selfRequestsOnly":false}'>
  <title>Admin UI</title>
  <script type="text/javascript" src="{% static '/adminui/js/htmx.min.js' %}"></script>
  <link rel="stylesheet" href="media/mystyle.css">
</head>

<body>
  <body class="bg-custom-powder-light" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'> <!-- NEW - hx-headers added -->

<form method="post" onsubmit="openLoader()">
    {% csrf_token %}

    <div class="tabs">
        {% for model, forms in models.items %}
            <button
                type="button"
                class="tab-button {% if forloop.first %}active{% endif %}"
                data-tab="tab-{{ forloop.counter }}"
            >
                {{ model }}
            </button>
        {% endfor %}
    </div>

    {% for model, forms in models.items %}
        <div
            id="tab-{{ forloop.counter }}"
            class="tab-content {% if forloop.first %}active{% endif %}"
        >
            <h2>{{ model }}</h2>
            <div class="formtabs"></div>
            {% for form in forms %}
            <button
                type="button"
                class="formtab-button {% if forloop.first %}active{% endif %}"
                data-tab="formtab-{{model}}{{ forloop.counter }}"
            >
            {{ form.entry_type_name.value|default_if_none:"" }}
            </button>
            {% endfor %}
            {% for form in forms %}
                    <div
            id="formtab-{{model}}{{ forloop.counter }}"
            class="formtab-content {% if forloop.first %}active{% endif %}"
        >
                <fieldset>
                    <h3>{{ form.entry_type_name }}</h3>
                    {{ form.as_p }}
                </fieldset>
                <button type="submit" value='{{model}}' id="formbuttontab">Save</button>
                    </div>

            
            {% endfor %}
            </div>
        </div>
        
    {% endfor %}

    
</form>
</body>
  <script>
document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll(".tab-button");
    const contents = document.querySelectorAll(".tab-content");

    buttons.forEach(btn => {
        btn.addEventListener("click", () => {

            contents.forEach(c => c.style.display = "none");
            buttons.forEach(b => b.classList.remove("active"));

            document.getElementById(btn.dataset.tab).style.display = "block";
            btn.classList.add("active");
        });
    });

    contents.forEach(c => c.style.display = "none");
    if (contents.length)
        contents[0].style.display = "block";
});
</script>
  <script>
document.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll(".formtab-button");
    const contents = document.querySelectorAll(".formtab-content");

    buttons.forEach(btn => {
        btn.addEventListener("click", () => {

            contents.forEach(c => c.style.display = "none");
            buttons.forEach(b => b.classList.remove("active"));

            document.getElementById(btn.dataset.tab).style.display = "block";
            btn.classList.add("active");
        });
    });

    contents.forEach(c => c.style.display = "none");
    if (contents.length)
        contents[0].style.display = "block";
});
</script>