{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="htmx-config" content='{"selfRequestsOnly":false}'>
  <title>Admin UI</title>
  <script type="text/javascript" src="{% static '/adminui/js/htmx.min.js' %}"></script>
  <link rel="stylesheet" href="media/mystyle.css">
</head>

<body>
  <body class="bg-custom-powder-light" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <form method="post" onsubmit="openLoader()">
        {% csrf_token %}
          <button type="submit" class="btn btn-danger mb-3" name="TestAPI" value="TestAPI">Test API</button>
          <button type="submit" class="btn btn-danger mb-3" name="IdentityProviders" value="IdentityProviders">Test Identity Providers</button>
          <button type="submit" class="btn btn-danger mb-3" name="UserInterface" value="UserInterface">Test User Interface</button>
          <button type="submit" class="btn btn-danger mb-3" name="GeneralStatus" value="GeneralStatus">Test General Status</button>
    </form>
          {% if ui %}
          <div>UI status is: {{ui}}</div>
          {% endif %}
          {% if api %}
          <div>API status is: {{api}}</div>
          {% endif %}
          {% if idp %}
          {% for idp_name, status in idp.items %}
          <div>{{idp_name}} status is: {{status}}</div>
          {% endfor %}
          {% endif %}
</body>